/* root and variables */
:root {
  --primary: #ddd;
  --light: #fff;
  --dark: #333;
  --shadow: 0 1px 5px rgb(104, 104, 104, 0.8);
  --red: red;
  --blue: blue;
  --black:black;
  
  }
html{
  /* box-sizing: border-box;     */
    font-family: Arial, Helvetica, sans-serif;
    color: var(--dark);
}
body {
  background: #ccc;
  margin: 30px 50px;
  line-height: 1.4;
  
}
figcaption{
  box-shadow: var(--shadow);
  background-color: #CAA8F5;
}

.container {
  display: grid;
  grid-gap: 20px;
  padding: 1em;
}
.btn {
  background: var(--dark);
  color: var(--light);
  text-decoration: none;
  padding: 0.6rem 1.3rem;
  border: 0; 
}
h3 {
  font-size: 1.2rem;
  color:#fca311;
  background-color: var(--blue);
}

img
{
  max-width: 100%;
}

.main-nav ul {
  display: grid;
    grid-gap: 20px;
    padding: 0;
    list-style: none;
    grid-template-columns: repeat(4,1fr);
  
}
/* nav links */
.main-nav a
{
  background: var(--primary);
  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: var(--dark);
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

/* hovering nav links */
.main-nav a:hover {
  background: var(--blue);
  color: var(--light);
}

/* about me or top container */

.top-container {
  display: grid;
  grid-gap: 20px;
  grid-template-areas:
  'showcase showcase showcase showcase' ;
}

/* All about showcase */
.showcase {
  grid-area: showcase;
  min-height: 400px;
  background: url(images/pexels-asad-photo-maldives-3293148.jpg);
  background-size: cover;
  background-position: center;
  padding: 3rem;
  display: flex;
  flex-direction: column;
  align-items: start;
  justify-content: center;
  box-shadow: var(--shadow);
  margin-bottom: 1.6rem;

}

.showcase h1 {
  font-size: 4rem;
  margin-bottom: 0;
  color: var(--light);
}
.showcase p {
  font-size: 1.3rem;
  margin-top: 0;
  color: var(--light);
  box-shadow: var(--shadow);
  padding: 0.5rem 0.3rem;
}

/* boxes */
.career {
  display: grid;
  grid-gap: 20px;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 1.6rem;
}
.car {
background: var(--primary);
text-align: center;
padding: 1.5rem 2rem;
box-shadow: var(--shadow);
}
/* coder  customization only */
.coder {
  background-color: var(--black);
}


.coder li {
  font-size: large;
  text-align: center;
  color:#fff;
  padding: 20px;
  -webkit-animation: coderli 1s ease-in-out infinite alternate;
  animation: coderli 1s ease-in-out infinite alternate;
}
@-webkit-keyframes coderli {
        from {
          text-shadow: 0 0 10px #eeeeee, 0 0 20px #000000, 0 0 30px #000000, 0 0 40px #000000,
                       0 0 50px #9554b3, 0 0 60px #9554b3, 0 0 70px #9554b3;
        }
        to {
          text-shadow: 0 0 20px #eeeeee, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6,
                       0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;
        }
      }

/* coder customization only end */
/* facts customization */
.facts {
  background-color: aqua;
}
/* fact customization end */

/* info */
.info {
  background: var(--primary);
  box-shadow: var(--shadow);
  display: grid;
  grid-gap: 30px;
  grid-template-columns: repeat(1,1fr);
  padding: 3rem;
  background-color:#1b4332; 
  color: #fff;
  margin-top: 1.6rem;
}
.info p {
  font-size: 20px;
  line-height: 40px;
  text-shadow:
  0.07em black,
  0 0.07em black,
   -0.07em 0 black,
   0 -0.07em black;
}
.info h3 {
  text-align: center;
}

/* portfolia */
.media {
  display: grid;
  grid-gap: 25px;
  grid-template-columns:1fr 1fr;
}

.media img{
  width: 100%;
  box-shadow: var(--shadow);
}

/* Footer */
footer {
  margin-top: 1.6rem;
  background: var(--dark);
  color: var(--light);
  text-align: center;
  padding: 1rem;
}

/* Media Queries */

@media(max-width: 700px){
  .top-container{
      grid-template-areas: "showcase showcase";
  }

  .showcase h1 {
      font-size: 2.5rem;
      color: yellow;
     
  }
  .showcase p {
   
    box-shadow: var(--shadow);
    padding: 0.5rem 0.3rem;
  }
  
  .main-nav ul {
      grid-template-columns: 1fr;
  }
  .career{
      grid-template-columns: repeat(2, 1fr);
  }
  .info{
    grid-template-columns: 1fr;  
  }
  .info .btn {
      display: block;
      text-align: center;
      margin: auto;
  }
  .media{
      grid-template-columns: 1fr 1fr;
     
  }
  .media img{
      width: 100%;
  }

  /* end of media */
}

@media(max-width: 500px){
  .top-container {
      grid-template-areas: 
      'showcase'
  }
  .showcase h1 {
    font-size: 1.5rem;
    color: var(--red);
}
  .career{
      grid-template-columns: 1fr;
  }
  .media{
      grid-template-columns: 1fr;
  }
  .media img{
      width: 100%;
      
  }
}
