html{
    font-size: 18px;
}
body{
    background-color: bisque;
}
.About h1{
    text-align: center;
    font-weight: 1000;

}
.About p{
    line-height: 1.4;
    word-spacing: 00.2em;
    font-family: 'Odibee Sans';
}
.About span{
    text-transform: uppercase;
    font-weight: 600;
}