html {
  background-color: #fff;
  font-family: "Rock Salt", cursive;
}

:root {
  --primary: #ddd;
  --light: #fff;
  --dark: #333;
  --shadow: 0 1px 5px rgb(104, 104, 104, 0.8);
  --red: red;
  --blue: blue;
  --black:black;
  
  }

body {
  
margin: 0;
font-size: 18px;
line-height: 1.5;

}


/* General style */

h2
 {
	text-align: center;
	margin: 0;
	padding: 1em 0;
  display: block;
  text-decoration: none;
  text-align: center;
  color: black;
  text-transform: uppercase;
  font-size: 1.4rem;
  box-shadow: var(--shadow);
}
h3{
  text-align: center;
	margin: 0;
	padding: 1em 0;
  color:blue;
  font-size: 1.1rem;
  
}

h4{
  text-align: center;
	margin: 0;
	padding: 1em 0;
  color:black;
  font-size: 1rem;
}
p {
	margin: 0;
	padding: 1em 0;
}
.shad,.metro {
  box-shadow: var(--shadow);
  padding: 0.5rem 0.3rem;
  padding: 5px;
  margin-top: 5px;
}
img {
  display: block;
	border: 0;
	width: 100%;
	height: auto;
}

figure {
	margin: 10px;
	padding: 0;
}
.pic:last-of-type{
  margin-top: 8px;
}

.site h1 {
  font-size: 1.2em;
  text-align: center;
  background-color: #f8edeb;
  margin: 10px;
}

/* education div */
.education{
  padding: 2em;
	background: #FF3A20;
	color: white;
  margin: 10px;
}

/* licenses div */
.licenses{
  background-color: #FF7F66;
  padding: 2em;
  color: white;
  margin: 10px;
}
/* project */
.project{
  color: white;
  padding: 2em;
  background-color: #2a9d8f;
  margin: 10px;
}
.project li {
  font-size: 0.9em;
  text-align: center;
  color:white;
  padding: 20px;
}

/* Con section */
.con {
	padding: 2em;
	background: hsl(0, 0%, 10%);
	color: white;
	text-align: center;
  margin: 10px;
}
<<<<<<< HEAD
h4{
    margin: 1em 0 0.5em 0;
	font-weight: 600;
	font-family: 'Titillium Web', sans-serif;
	position: relative;
	text-shadow: 0 -1px 1px rgba(0,0,0,0.4);
	font-size: 22px;
	line-height: 40px;
	color: #355681;
	text-transform: uppercase;
	border-bottom: 1px solid rgba(53,86,129, 0.3);
}
/*list*/
ul {
  list-style-type: "*";
}
ul li {
  list-style:cross-fade();
  position: relative;
  padding: 3px 0 2px 25px;
}
/* text*/
p{
    color:#e63946;
    line-height: 1.5;
    word-spacing: 1px;
    font-size: large;
    font-family: Helvetica, Arial, sans-serif;
}
/* footer*/
footer {
  background-color: #aaf683;
  padding: 0 1rem;
 font-family: 'Vollkorn', serif;;
}

footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  padding: 5em 0;

}


footer ul {
  list-style: none;
  margin: 0;
}

footer li {
  display: inline-block;
  padding: 0.75rem 1.25rem;
}
/* links and  how their colors will reacted */

a:link {
  color: black;
  background-color: transparent;
=======

/* nav links */
.main-nav a
{

  display: block;
>>>>>>> 853cade1d1117e60c59856a4071006fb7539704c
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  font-size: 1.1rem;
  box-shadow: var(--shadow);
}

/* hovering nav links */
.main-nav a:hover {
  background: blue;
  color: white;
}
.researches{
  background-color: #ade8f4;
}



/*--------------------------------------------------------------
Basic responsive layout for all browsers:
--------------------------------------------------------------*/
.site{
  max-width: 50em;
	margin: 5px;
}
@supports (grid-area: auto) {

  @media screen and (min-width: 50em) {

		.site {
			max-width: none;
			display: grid;
			grid-template-columns: 15em auto;
      gap: 5px;
     
		}
    .masthead {
			grid-column: 1/3;
			grid-row: 1/3;
		}
    .education{
      grid-column: 2/3;
      grid-row: 3/4;
    }
    .licenses{
      grid-column: 2/3;
      grid-row: 4/5;
    }
    .researches {
      grid-column: 2/3;
      grid-row: 5/6;
    }

    .feature {
      grid-column: 2/3;
      grid-row: 6/7;
    }

    .project{
      grid-column: 1/2;
      grid-row: 3/7;
    }

    .con {
      grid-column: 1/3;
      grid-row: auto;
    }

}
@media screen and (min-width: 65em) {

  .site {
    grid-template-columns: 30em minmax(auto, 30em) 15em;
    justify-content: center;
  }
  .masthead {
    grid-column: 1/4;
    grid-row: 1/2;
}
.education{
  grid-column: 1/2;
  grid-row: 2/3;
}
.licenses{
  grid-column: 2/3;
  grid-row: 2/3
}
.project{
  grid-column: 3/4;
 grid-row: 2;
}

.researches {
  grid-column: 1/4;
  grid-row: 4/5;
  
}

.feature {

  grid-column: 1/4;
  grid-row: 5/6;
  
}
.pic:last-of-type {
  margin: 5px;
  
}
.con {
  grid-column: 1/4;
  grid-row: 6;
  
  
}
 .main-nav ul  {
  grid-template-columns: repeat(4,1fr);
  display: grid;

 
 }
 

}
}