html {
  background-color: #fff;
  font-family: "Rock Salt", cursive;
}
:root {
  --primary: #ddd;
  --light: #fff;
  --dark: #333;
  --shadow: 0 1px 5px rgb(104, 104, 104, 0.8);
  --red: red;
  --blue: blue;
  --black:black;
  
  }

body {
  max-width: 50em;
	margin: 10px;
  padding: 10px;
  background-color: transparent;
  text-align: center;
  box-sizing: border-box;
}


h1 {
  margin: 0;
  line-height: 100px;
  font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: khaki;
  background-color: steelblue;
}
.tagline {
  font-family: "Quicksand", sans-serif;
  color: lightslategray;
  line-height: 50px;
}

/* .link {
  display: flex;
  justify-content: center;

} */
/* this only related on links*/
.border {
  border: 1px solid red;
  background-color: palevioletred;
  justify-content: center;
  
}
.form {
  /* width: 340px;
  height: 440px; */
  margin: auto;
  padding: 20px 30px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  /* position: relative; */
}
/* h2: send me an email*/
.h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  color: #787878;
  border-bottom: 2px solid #78788c;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none; /*idk*/
  resize: none; /* idk*/
  border: 0;
  font-family: "Montserrat", sans-serif;
  /* transition: all 0.3s; i dont know what this do yet. */
  border-bottom: 2px solid #bebed2;
  overflow: hidden;
}
button {
  float: right;
  /* padding: 8px 12px;  */
   margin: 8px 0 0; 
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
}
button:hover {
  background: red;
  color: #fff;
}
label {
  display: block;
  margin: 28px 0 0;
  font-size: 16px;
  color:#85144b;
  text-align: left;

}

.con {
	padding: 2em;
	background: hsl(0, 0%, 10%);
	color: white;
	text-align: center;
  margin-top: 20px;
}


.copyright{
  display: inline;
}

  .con a:visited {
  color:red;
  background-color: transparent;
  text-decoration: none;
} */
.con a:hover {
  color:blue;
  background-color: transparent;
  text-decoration: none;
}
.con a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
} 

.main-nav a
{

  display: block;
  text-decoration: none;
  padding: 0.8rem;
  text-align: center;
  color: white;
  text-transform: uppercase;
  box-shadow: var(--shadow);
  overflow: hidden;
}
 /* responsive */
 
 @supports (grid-area: auto) {

  /* only borders */
  @media screen and (min-width: 28em) {
    .border {
      border: 1px solid red;
      background-color: palevioletred;
      justify-content: center;
      align-items: center;
      display: flex;
    }
  }

  @media screen and (min-width: 50em) {
    body {
      grid-template-columns: 30em minmax(auto, 30em) 15em;
      justify-content: center;
      background-color: transparent;
      margin: 0;
    max-width: none;
    }
    .link {
      display: flex;
    }
    .border {
      border: 1px solid red;
      background-color: palevioletred;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .form {
      width: 340px;
      height: 440px;
      margin: auto;
      padding: 20px 30px;
      box-sizing: border-box;
      font-family: "Montserrat", sans-serif;
      position: relative;
    }
    button{
      padding: 8px 12px;
    }
    .con {
      grid-column: 1/4;
      grid-row: 6;
      
      
    }
     .main-nav ul  {
      grid-template-columns: repeat(4,1fr);
      display: grid;
    
     
     }

  }


 }