html {
  background-color: #fff;
  font-family: "Rock Salt", cursive;
}

body {
  display: block;
  width: 100%;
  background-color: transparent;
  margin: 0;
  text-align: center;
}

/* grid for small screen */
@media screen and (max-width :400px) {
  body {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 2fr 1fr;
    grid-template-areas: "header"
    "container"
    "send"
    "footer";
    grid-gap: 1em;

    padding: 1em;
  }
  #header{
    grid-area: header;
    background-color: red;
  }
  .container {
   grid-area: container;
  background-color: green;
  
 
    
  }
/* container grid items */



  .send{
    grid-area: send;
    background-color: hotpink;
    display: grid;
    grid-template-areas: "h2" "form" "button";
    grid-gap: 25px;
    padding: 1em;
  }
  /* send grid items */
  .h2{
    grid-area: h2;
    background-color: honeydew;
    margin-left: 1rem;
    padding: 1rem;
    text-align: center;
  }
  .lbl{
    grid-area: form;
    background-color: greenyellow;
  }
  .btn {
    grid-area: button;
  }

  footer {
    grid-area: footer;
    background-color: lawngreen;
    grid-template-columns: 1fr;
    grid-gap: 1em;

  }
  
}


h1 {
  margin: 0;
  line-height: 100px;
  font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial,
    sans-serif;
  color: khaki;
}
.tagline {
  font-family: "Quicksand", sans-serif;
  color: lightslategray;
  line-height: 50px;
}

.link {
  display: flex;
}
/* this only related on links*/
.border {
  border: 1px solid greenyellow;
  background-color: palevioletred;
  display: flex;
  justify-content: center;
  align-items: center;
}
.form {
  width: 340px;
  height: 440px;
  margin: auto;
  padding: 20px 30px;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
  position: relative;
}
/* h2: send me an email*/
.h2 {
  margin: 10px 0;
  padding-bottom: 10px;
  color: #787878;
  border-bottom: 2px solid #78788c;
}
input {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  background: none;
  outline: none; /*idk*/
  resize: none; /* idk*/
  border: 0;
  font-family: "Montserrat", sans-serif;
  transition: all 0.3s; /* i dont know what this do yet.*/
  border-bottom: 2px solid #bebed2;
}
/* button {
  float: right;
  padding: 8px 12px;
  margin: 8px 0 0;
  font-family: "Montserrat", sans-serif;
  border: 2px solid #78788c;
  background: 0;
  color: #5a5a6e;
  cursor: pointer;
  transition: all 0.3s;
} */
button:hover {
  background: red;
  color: #fff;
}
label {
  display: block;
  margin: 28px 0 0;
  font-size: 16px;
  color:#85144b;
  text-align: left;

}

footer {
  background-color:#faedcd;
  padding: 0 1rem;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 5em 0;
}

footer ul {
  list-style: none;
  margin: 0;
}

footer li {
  display: inline-block;
  padding: 0.75rem 1.25rem;
}


.copyright{
  display: inline;
}
/* links and  how their colors will reacted */

.foot a:link {
  color: #14213d;
  background-color: transparent;
  text-decoration: none;
}
 .foot a:visited {
  color:whitesmoke;
  background-color: transparent;
  text-decoration: none;
}
.foot a:hover {
  color:blue;
  background-color: transparent;
  text-decoration: none;
}
.foot a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}