*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}



html,body {
    background-color: #9bf6ff;
    font-family: 'Oswald', sans-serif;
    width: 100%;
    font-family: "Rock Salt", cursive;

}



#headerExperience {
    line-height: 200px;
    font-family: "proxima nova bold", "Helvetica Neue", Helvetica, Arial,
        sans-serif;
    color: khaki;
    background-color: steelblue;
    background-image: url("images/Experience\ background\ imagee.jpg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    text-align: center;
    margin-bottom: 25px;

}
.container {
display: flex;
flex-direction: column;
gap:25px;
align-items: center;
margin-bottom: 25px;



}
.century, .soleiman, .LNA {

    border: 2px solid black;
    font-size: 16px;
    background-color: #E5ECE9;
    display: block;



}
.century,.soleiman,.LNA{
    display: flex;
    flex-direction: column;
     align-items: center;
     justify-content: center;



}
.headers,.tasks {
    display: block;
    align-content: space-around;




}
/* nav and ul */
ul{
    overflow:hidden;
    display: inline-block;


/* how do I set the vertical spacing between the list items? */
}
li{
    margin: 10px 0;
 letter-spacing: 2px;
}


/* media and image*/
.media{
    max-width: 100%;
    height: auto;
    display: block;
}
/* footer css*/
footer {
  background-color: #aaf683;
  padding: 0 1rem;
 font-family: 'Anton', sans-serif;
 text-align: center;
}
footer .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
  padding: 5em 0;

}


footer ul {
  list-style: none;
  margin: 0;
}

footer li {
  display: inline-block;
  padding: 0.75rem 1.25rem;

}
/* links and  how their colors will reacted */

a:link {
  color: black;
  background-color: transparent;
  text-decoration: none;
}
a:visited {
  color:#14213d;
  background-color: transparent;
  text-decoration: none;
}
a:hover {
  color:blue;
  background-color: transparent;
  text-decoration: none;
}
a:active {
  color: yellow;
  background-color: transparent;
  text-decoration: none;
}